body {
    background-color: #0a0c24;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin: 0%;
}

.bemvindos {
    font-size: 300%;
}

h2 {
    margin: 0%;
}

.rua {
    font-size: 80%;
}

.esquerda {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0.7;
    gap: 3%;
    padding-bottom: 6%;
}

.direita {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0.35;
    height: 100vh;
    border-top-left-radius: 4%;
    border-end-start-radius: 4%;
    background-image: url("fundo2.png");
    background-size: cover;
    font-size: 175%;
}

.login {
    font-size: 160%;
}

.login2 {
    font-size: 90%;
    margin: 0%;
}

p {
    margin: 0%;
}
input {
    background-color: #979797;
    height: 5%;
    width: 65%;
    border: none;   
    border-radius: 25px;
    box-sizing: border-box;
    opacity: 0.7;
    padding: 5%;
}
input:focus {
    outline: none;
    border: 2px solid #727272;
}

button {
    background-color: #979797;
    height: 5%;
    width: 45%;
    opacity: 0.7;
    border-radius: 25px;
    color: rgb(2, 1, 1);
    cursor: pointer;
    margin: 10%;
}
button:hover {
    background-color: #727272;
    border-color: #727272;
    cursor: pointer;
}
.meio {
    display: flex;
    flex-direction: row;
}